openapi: "3.0.0"
info:
  version: 0.0.0
  title: VA Mobile API
  license:
    name: MIT
  description: >
    The Department of Veterans Affairs mobile API. All paths are relative to https://api.va.gov/mobile.
servers:
  - url: https://api.va.gov/mobile
paths:
  /mobile/v1/health/immunizations:
    get:
      description: Returns a paginated list of immunization records for given user
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
        - description: The page number requested. Defaults to 1.
          example: 1
          in: query
          name: page[number]
          schema:
            type: integer
        - description: The number of records to return per page. Defaults to 10.
          example: 10
          in: query
          name: page[size]
          schema:
            type: integer
        - description: Whether or not to use this API's cache or fetch records from
            the upstream service. Defaults to true.
          example: true
          in: query
          name: useCache
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - type
                        - id
                        - attributes
                        - relationships
                      properties:
                        type:
                          type: string
                          example: "immunization"
                        id:
                          type: string
                          example: "I2-3JYDMXC6RXTU4H25KRVXATSEJQ000000"
                        attributes:
                          type: object
                          required:
                            - cvxCode
                            - date
                            - doseNumber
                            - doseSeries
                            - groupName
                            - manufacturer
                            - note
                            - reaction
                            - shortDescription
                          properties:
                            cvxCode:
                              type: integer
                              example: 140
                            date:
                              type: string
                              example: 2009-03-19T12:24:55Z
                            doseNumber:
                              type: string
                              example: "Booster"
                            doseSeries:
                              type: string
                              example: 1
                            groupName:
                              type: string
                              example: "FLU"
                            manufacturer:
                              type: string
                              nullable: true
                              example: nil
                            note:
                              type: string
                              example: "Dose 45 of 101 of Influenza  seasonal  injectable  preservative free vaccine administered."
                            shortDescription:
                              type: string
                              example: "Influenza  seasonal  injectable  preservative free"
                            reaction:
                              type: string
                              example: "Swelling"
                        relationships:
                          type: object
                          required:
                            - location
                          properties:
                            location:
                              type: object
                              required:
                                - data
                                - links
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  required:
                                    - id
                                    - type
                                  properties:
                                    id:
                                      type: string
                                      example: "I2-4KG3N5YUSPTWD3DAFMLMRL5V5U000000"
                                    type:
                                      type: string
                                      example: "location"
                                links:
                                  type: object
                                  required:
                                    - related
                                  properties:
                                    related:
                                      type: string
                                      nullable: true
                                      example: "staging-api.va.gov/mobile/v0/health/locations/I2-2FPCKUIXVR7RJLLG34XVWGZERM000000"
                  meta:
                    type: object
                    required:
                      - pagination
                    properties:
                      pagination:
                        type: object
                        required:
                          - currentPage
                          - perPage
                          - totalPages
                          - totalEntries
                        properties:
                          currentPage:
                            type: number
                            example: 1
                          perPage:
                            type: number
                            example: 10
                          totalPages:
                            type: number
                            example: 2
                          totalEntries:
                            type: number
                            example: 15
          description: OK
      security:
        - Bearer: []
      summary: /v1/health/immunizations

components:
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: Authentication is via an access token returned from IAM's SSOe service. Pass the access token in the 'Authorization' Header in the format 'Bearer {accessToken}'. e.g. 'Bearer abcdefg1234567'.
  parameters:
    InflectionHeader:
      in: header
      name: X-Key-Inflection
      required: false
      schema:
        type: string
        enum: [ camel, snake ]
        default: snake
      description: Allows the API to return camelCase keys rather than snake_case
